body {
  background-color: darkgreen;
  font-family: 'Filson Soft', sans-serif;
  color: white;
}

.frame {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid yellow;
}

h1 {
  text-align: center;
}
